*{
	margin: 0; 
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box; 
}

html{
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Oxanium', cursive;
	background: black; 
	color: white;
	letter-spacing: -.7px;
	scroll-behavior: smooth;
}

.header{
	width: 1500px;
	margin: auto;
}

#main{
	width: 1170px;
	margin: auto;
}

ul{
	justify-content: space-between;
	font-family: Cormorant Garamond;
	font-size: 20px;
}

li{
	display: inline;
	float: right;
	padding-top: 40px;
	padding-bottom: 40px;
}

li a{
	font-size: 20px;
	color: white;
	padding: 0 50px;
	text-decoration: none;
}

.nav-wrapper{
	left: calc(50% - 750px);
	position: static;
}

ul li a:hover{
  color: #10CDF2;
}

h4{
	font-family: Montserrat;
	font-size: 42px;
	font-weight: 300;
}

.popup{
  width: 850px;
  height: 500px;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
  border: #10CDF2 solid 6px;
  border-radius: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 8;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  display: none;
  transition: all 0.3s;
  position: fixed;
  }

.popup a{
  color: ;
  text-decoration: none;
}

.popup:target{
  opacity: 1;
  display: block;
}

.popup:target + .dim{
  opacity: 1;
  z-index: 2;
}

.dim{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s;
}

.bt{
	display: flex;
	flex-direction: column;
	align-items: center;
}

button{
	width: 395px;
	height: 80px;
	border-radius: 50px;
	background-color: #10CDF2;
	font-family: Montserrat;
	font-size: 24px;
	color: #88E6F8;
	border: none;
}

h1{
	height: 175px;
	font-family: Montserrat;
	font-size: 52px;
	font-weight: 300;
	line-height: 3.5rem;
	width: 600px;
}

h2{
	width: 475px;
	font-family: Noto Sans KR;
	font-size: 30px;
	letter-spacing: -0.9px;
	font-weight: 400;
	margin-bottom: 50px;
	padding-top: 85px;
}

p{
	font-family: Noto Sans KR;
	width: 475px;
	height: 240px;
	font-weight: 100;
	font-size: 20px;
	line-height: 2.5rem;
	margin-bottom: 37px;
}

.container{
	display: flex;
	align-items: flex-start;
	padding-top: 100px;
	padding-bottom: 75px;
}

.title-bt button{
	width: 395px;
	height: 80px;
	border-radius: 50px;
	background-color: #10CDF2;
	font-family: Montserrat;
	font-size: 24px;
	color: white;
	border: none;
}

.bt-1{
	margin-bottom: 15px;
}

.bt-2{
	opacity: .3;
}

.TTTU{
	font-family: Montserrat;
	font-weight: 300;
	font-size: 24px;
	opacity: .8;
}

.TT{
	padding-bottom: 60px;
}

.TT span{
	display: inline-block;
  	border: 1.8px solid white;
  	border-radius: 50px;
  	padding: 8px 32px; 
  	text-align: center;
  	font-size: 24px;
  	letter-spacing: 0;
  	margin-right: 14px;
}

.bt-1{
	cursor: pointer;
}

.TU{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.TU span{
	vertical-align: bottom;
}

.todaysup{
	float: left;
}

.latest{
	float: right;
}

/*게시글*/
.content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content1{
	flex: 1;
}

.content1 img{
	width: 475px; 
	height: 317px;
	margin-bottom: 80px;
}

.content2 img{
	width: 500px;
	height: 725px;
}

.content1 a{
	text-decoration: none;
	color: white;
}

.Top-button{
	font-family: Noto Sans KR;
	font-size: 18px;
	text-align: center;
	margin-top: 200px;
	color: white;
	opacity: 0.9;
}

.Top-button a{
	text-decoration-line: none;
	color: white;
	opacity: 0.9;
}

.Top-button .material-symbols-outlined{
	font-size: 40px;
	color: whitesmoke;
}

.footer{
	margin: auto;
	margin-top: 54px;
	margin-bottom: 200px;
	left: calc(50% - 750px);
}

.foot{
	font-family: Cormorant Garamond;
	float: left;
	text-align: center;
	width: 33.3%;
	padding: 50px;
}